$font-montserrat: "Montserrat", sans-serif;
$bg-color: #222222;
$accent-color: #8bbf4a;
$sec-color: #ffffff;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-col-center {
  @include flex-center;
  flex-direction: column;
}

@mixin media-large {
  @media only screen and (min-width: 1025px) {
    @content;
  }
}

@mixin media-medium {
  @media only screen and (min-width: 769px) {
    @content;
  }
}

@mixin media-smol {
  @media only screen and (min-width: 625px) {
    @content;
  }
}

@mixin contain {
  font-family: $font-montserrat;
  color: $accent-color;
  padding: 1rem;
}

@mixin transition(
  $for: all,
  $time-in: 250ms,
  $type: ease-in-out,
  $time-out: 0s
) {
  transition: $for $time-in $type $time-out;
  -moz-transition: $for $time-in $type $time-out;
  -webkit-transition: $for $time-in $type $time-out;
  -o-transition: $for $time-in $type $time-out;
}
@mixin homeContainer {
  background-color: darken($bg-color, 0.7%);
  box-shadow: 1px 1px 2px 0px darken($bg-color, 5%);
  font-size: small;
  border-radius: 0.5rem;
  padding: 1.5rem;
  color: white;
  hr {
    width: 100%;
    margin-top: 0.5rem;
    border-bottom: 1px solid darken($accent-color, 2%);
    outline: none;
  }
  margin-bottom: 2rem;
  h1 {
    font-weight: 400;
  }
  @include media-medium {
    font-size: medium;
    margin-bottom: 0;
  }
}

@mixin pageContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;

  @include media-medium {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding: 1.5rem;
    width: 90%;
    margin-left: 5%;
  }
}
