@use "abstracts/index" as *;
.pageContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 0;
  @include media-medium {
    width: 92vw;
    margin-left: 5vw;
    // justify-content: space-around;
    gap: 4rem;
  }
}

.newsContainer {
  @include flex-col-center;
  @include homeContainer;
  width: 85vw;
  color: white;
  margin-bottom: 2rem;
  h1 {
    color: $accent-color;
    margin: 0;
  }
  h5 {
    margin: 0;
    margin-top: 0.2rem;
    font-weight: 400;
  }
  hr {
    width: 100%;
    margin-top: 0.5rem;
    border-top: 1px solid darken($accent-color, 2%);
  }
  @include media-medium {
    height: fit-content;
    max-height: 30rem;
    width: 50%;
    margin-left: 1rem;
    margin-bottom: 0rem;
  }
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.headerLeft {
  div {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 1rem;
  }
  span {
    padding-top: 0.1rem;
    color: $accent-color;
  }
}

.headerRight {
  padding: 0.5rem;
  div {
    margin-top: 0.5rem;
    background: $accent-color;
    text-align: center;
  }
}

.newsBody {
  align-self: flex-start;
  ul {
    list-style-type: circle;
    margin-left: 1rem;
  }
  li {
    list-style-type: circle;
    margin-top: 0.4rem;
    font-weight: 300;
  }
}

.arrowContainer {
  // background: red;
  width: 8rem;
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem;
  align-self: flex-end;
  svg {
    color: $accent-color;
    cursor: pointer;
  }
}

.rulesContainer {
  @include homeContainer;
  width: 85vw;
  ul {
    list-style-type: circle;
    margin-left: 1rem;
  }
  li {
    list-style-type: number;
    margin-top: 0.4rem;
    font-weight: 300;
  }
  @include media-medium {
    width: 100%;
    max-height: 35rem;
    font-size: medium;
  }
}

.aboutUsContainer {
  @include homeContainer;
}
.containerHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
  span {
    color: $accent-color;
    padding-top: 0.2rem;
  }
}
.aboutBody {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  @include media-medium {
    flex-direction: row;
    // justify-content: space-around;
    gap: 2rem;
  }
}
.aboutSection {
  margin-bottom: 1rem;
  min-height: 20rem;
  h2 {
    font-weight: 300;
  }
  p {
    font-weight: 300;
  }
  div {
    margin-top: 1rem;
  }
  @include media-medium {
    width: 48%;
    margin-bottom: 0;
  }
}

.aboutLine {
  border-left: 1px solid darken($accent-color, 2%);
  min-height: 100%;
}

.sponsorsContainer {
  @include homeContainer;
}
