@use "abstracts/index" as *;
@use "abstracts/buttons" as btn;

.pageContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;

  @include media-medium {
    width: 95vw;
    margin-left: 5vw;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding: 1.5rem;
    width: 90%;
    margin-left: 5%;
  }
}

.newsPort {
  display: flex;
  flex-direction: column;
  padding-left: 0;

  @include media-medium {
    flex-direction: row;
    gap: 2rem;
  }
}

.newsContainer {
  @include homeContainer;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
  height: 40vh;
  h1 {
    color: $accent-color;
  }
  h5 {
    margin: 0;
    margin-top: 0.2rem;
    font-weight: 400;
  }

  @include media-medium {
    height: 50vh;
    width: 50%;
    margin-bottom: 0rem;
  }
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.headerLeft {
  div {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 1rem;
  }
  span {
    padding-top: 0.1rem;
    color: $accent-color;
  }
}

.headerRight {
  padding: 0.5rem;
  div {
    margin-top: 0.5rem;
    background: $accent-color;
    text-align: center;
  }
}

.newsBody {
  align-self: flex-start;
  height: 68%;
  overflow-y: scroll;
  width: 100%;
  scrollbar-width: thin;
  padding-left: 1rem;
  &::-webkit-scrollbar {
    width: 3px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #757575;
  }

  ul {
    list-style-type: circle;
    margin-left: 1rem;
  }
  li {
    list-style-type: circle;
    margin-top: 0.4rem;
    font-weight: 300;
  }
}

.linkContainer {
  position: absolute;
  width: 10rem;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  align-self: flex-end;
  bottom: 3%;
  h5 {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 200;
  }
  h5:hover {
    color: $accent-color;
  }
  @include media-medium {
    font-size: large;
  }
}

// Market

.marketTable {
  margin-top: 2rem;
  border: 1px solid $accent-color;
  border-collapse: collapse;
  width: 100%;
  color: $sec-color;

  th,
  td {
    border: 1px solid $accent-color;
    border-collapse: collapse;
    padding: 0.1rem 0.5rem;
    text-align: left;
  }

  th {
    text-align: left;
    padding: 0.1rem 0.5rem;
  }

  td {
    padding: 0.5rem 0.5rem;
    border-right: none;
    border-left: none;
    height: 4rem;

    p:nth-child(2) {
      font-size: 0.9rem;
    }
  }

  td:nth-child(1) {
    width: 15%;
    padding-left: 0.75rem;

    @include media-medium {
      padding-left: 2rem;
    }
  }

  td:nth-child(2) {
    width: 25%;
  }

  td:nth-last-child(1) {
    text-align: right;

    & > div > div {
      display: flex;
      gap: 0.5rem;
      justify-content: flex-end;

      @include media-medium {
        justify-content: flex-start;
      }
    }

    @include media-medium {
      text-align: left;
    }
  }
}

.portfolioComponent {
  @include homeContainer;

  h1 {
    color: $accent-color;
    margin: 0;
  }
  @include media-medium {
    width: 50%;
  }
}
.header {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.8rem;
  span {
    padding-top: 0.1rem;
    color: $accent-color;
  }
}

.fundsCont {
  margin-top: 1rem;
  div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
}

.marketCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.marketMenu {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  margin-bottom: 1rem;
  @include media-medium {
    width: 40%;
    margin-top: 2rem;
  }
}

.selButton {
  @include btn.registerButton;
}
.unselButton {
  @include btn.logInButton;
}
.actionModal {
  @include homeContainer;
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    color: $accent-color;
  }
}
.actionRow {
  margin-top: 1rem;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  h4 {
    font-weight: 400;
    margin-bottom: 0.3rem;
  }
  input {
    margin: 1%;
    padding: 2%;
    width: 30%;
    color: white;
    background: $bg-color;
    border: 1px solid gray;
    border-radius: 0.3rem;
  }
  @include media-medium {
    width: 90%;
  }
}
