@use "abstracts/index" as *;

.container {
	@include contain;
	padding: 1rem;
	height: 100vh;
	display: grid;
	gap: 2rem;
	grid-template-areas: none;
	padding-top: 3rem;

	@include media-medium {
		padding: 3rem;
		margin-left: 5vw;
		width: 95vw;
		grid-template-areas: 
		"noti noti noti lead lead lead"
		"noti noti noti lead lead lead"
		"mark mark mark mark port port"
		"mark mark mark mark port port"
		"mark mark mark mark port port";
		grid-template-rows: repeat(5, 1fr);
		grid-template-columns: auto;
	}
}

.section {
	@include flex-center;
	border-radius: 0.5rem;
	// border: 2px solid $accent-color;
	background-color: darken($bg-color, 0.7%);
	box-shadow: 1px 1px 2px 0px darken($bg-color, 5%);
}

.notification {
	grid-area: auto;
	
	@include media-medium {
		grid-area: noti;
	}
}

.portfolio {
	grid-area: auto;
	
	@include media-medium {
		grid-area: port;
	}
}

.market {
	grid-area: auto;
	padding: 1rem;
	height: 100%;
	scrollbar-width: thin;
	overflow-y: scroll;
	display: block;

	&::-webkit-scrollbar {
		width: 3px;
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: #757575;
	}

	@include media-medium {
		grid-area: mark;
	}
}

.leader {
	grid-area: auto;
	
	@include media-medium {
		grid-area: lead;
	}
}

.marketTable {
	border: 1px solid $accent-color;
  border-collapse: collapse;
	width: 100%;
	color: $sec-color;
	
	th,
	td {
		border: 1px solid $accent-color;
		border-collapse: collapse;
		padding: 0.1rem 0.5rem;
		text-align: left;
	}

	th {
		text-align: left;
		padding: 0.1rem 0.5rem;
	}

	td {
		padding: 0.5rem 0.5rem;
		border-right: none;
		border-left: none;
		height: 4rem;

		p:nth-child(2) {
			font-size: 0.9rem;
		}

	}

	td:nth-child(1) {
		width: 15%;
		padding-left: 2rem;
	}

	td:nth-child(2) {
		width: 25%;
	}

}