@use "abstracts/index" as *;

.container {
  @include contain;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.nav {
  @include flex-center;
  justify-content: space-between;
}

.title {
  align-self: center;

  a {
    font-weight: bold;
    font-size: 1rem;
  }

  @include media-medium {
    a {
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
}

.navRegisterButton {
  @include registerButton;
}

.navLogInButton {
  @include logInButton;
}

.nav-right {
  @include flex-center;
  gap: 1rem;
}
