@use "abstracts/index" as *;
@use "abstracts/buttons" as btn;
.pageContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;

  @include media-medium {
    width: 95vw;
    margin-left: 5vw;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding: 1.5rem;
    width: 90%;
    margin-left: 5%;
  }
}

.profileContainer {
  background-color: darken($bg-color, 0.7%);
  box-shadow: 1px 1px 2px 0px darken($bg-color, 5%);
  width: 98%;
  color: white;
  margin-top: 0.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  height: auto;
  // background: red;\
}

.avatarContainer {
  height: 5rem;
  width: 5rem;
  justify-self: flex-start;
  font-size: xx-large;

  @include media-medium {
    height: 10rem;
    width: 10rem;
  }
}

.avatar {
  background: $accent-color;
  z-index: 0;
  border-radius: 50%;
}

.personalInfoContainer {
  text-align: center;
  font-size: smaller;

  a {
    color: $accent-color;
  }

  p {
    font-size: larger;
  }

  @include media-medium {
    font-size: medium;
  }
}

.statsContainer {
  margin-top: 3rem;
  width: 98%;
  // height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // background: red;
  gap: 2rem;
  @include media-medium {
  }
}

.fundsContainer {
  margin-top: 1rem;
  background-color: darken($bg-color, 0.7%);
  box-shadow: 1px 1px 2px 0px darken($bg-color, 5%);
  height: 40rem;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: small;
  width: 100%;
  height: fit-content;
  h1 {
    margin: 0;
    color: $accent-color;
    font-weight: 400;
  }

  @include media-medium {
    height: fit-content;
    margin-top: 0;
    font-size: medium;
    padding: 1.25rem 1.5rem;
  }
}

.fundDetails {
  color: $sec-color;
  div {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }

  h3 {
    margin: 0;
    font-weight: 600;
  }

  div:last-child {
    margin-bottom: 1rem;
  }
  @include media-medium {
    div {
      margin-top: 0;
    }
  }
}
.fundsRow {
  display: flex;
  flex-direction: row;
  // background: #000;
  margin: 0;
  div {
    width: 35%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
}

.holdingsContainer {
  @include homeContainer;
  font-size: small;
  overflow-x: scroll;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  h1 {
    margin: 0;
    color: $accent-color;
    align-self: flex-start;
  }
  h3 {
    text-decoration: underline;
    font-weight: 400;
  }
  @include media-medium {
    width: 100%;
    font-size: medium;
    overflow-x: hidden;
    margin-bottom: 2rem;
  }
}

.holdingsTable {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-size: small;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;

  th {
    padding: 1rem;
  }

  td {
    padding: 1rem;
  }

  @include media-medium {
    font-size: medium;
    overflow-x: hidden;
  }
}

.pnlProfit {
  color: #029d02;
}

.pnlLoss {
  color: #ff3535;
}

.holdingsMenu {
  // background: #000;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  margin-bottom: 1rem;
  @include media-medium {
    width: 40%;
    margin-top: 0;
  }
}

.selButton {
  @include btn.registerButton;
}
.unselButton {
  @include btn.logInButton;
}
